<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create report</title>
  </head>
  <body>
    <h1>Create report</h1>
      <form class="" action="post_create_report" method="post">
          {% csrf_token %}
          Work Assigned:<br>
          <input type="text" name="work"> <br>
          Progres:<br>
          <textarea name="progress" rows="8" cols="80"> </textarea><br>
          <input type="file" name="file[]" id="file" value="">
          <input type="hidden" name="url" id="url" value="">
          <button type="button" onclick="uploadimage()" name="button">Upload</button><br>
          <input type="submit" value="Submit">

      </form>
  </body>

  <script  type="text/javascript" src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js">

  </script>
  <script >
      var config = {
          apiKey: "AIzaSyAsHr9i_UJL3ndSXHsD_PAqKGa8elOXKX8",
          authDomain: "items-18814.firebaseapp.com",
          databaseURL: "https://items-18814.firebaseio.com",
          projectId: "items-18814",
          storageBucket: "items-18814.appspot.com",
          messagingSenderId: "400494160334"
        };

      firebase.initializeApp(config);


      function uploadimage(){
          var storage = firebase.storage();
          var file  =document.getElementById("file").files[0];
          var storageRef = storage.ref();
          var thisref= storageRef.child('file.name').put(file)
          thisref.on('state_changed', function(snapshot){
            console.log("file uploaded succesfully");
          }, function(error){
            console.log(error);
          }, function(){
              console.log("get url");
              var downloadURL = thisref.snapshot.downloadURL;
              console.log(downloadURL);
              document.getElementById("url").value = downloadURL;
              alert("file uploaded succesfully");
          });
      }




  </script>
</html>
