<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>welcome</title>
  </head>
  <body>
    <h1> Welcome {{e}}</h1>
    <a href="logout">
      <button type="button" onclick="location.href='{% url  'log' %}''" name="button">logout</button>
    </a>


    <br>
    <a href="createreport"> <button type="button" name="button"> create report</button> </a>

    <a href="checkreport"> <button type="button" name="button"> check report</button> </a>

  </body>
</html>
